################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dtbcache
/bin
/obj
/.vs
/CoreMVCApp/bin/
/OOPS/bin/
/CoreMVCApp/obj/
/OOPS/obj/
/TPL/obj/
/TPL/bin/
/CosmosDB/obj
/CosmosDB/bin/Debug/netcoreapp3.1
/CosmosDB/.vscode
