<?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <appSettings>
        <add key="accountEndpoint" value="https://azcosmosdemo.documents.azure.com:443/" />
        <add key="accountKey" value="iJsOrcsjfG86vDfw5GjKF6gaTf6XC9FrsTf80YDT4G3IvSeCYt6OrUTRYdDg2KAQlMuTX99eqm7KLP8DQLTgrg==" />
      </appSettings>
</configuration>